nav.navbar.navbar-default.navbar-fixed-top
  .container-fluid
    .navbar-header
      a.navbar-brand(href='/') Hyoshi
    ul.nav.navbar-nav
      li
        a(href='/about') About
      li
        a(href='/users') Users
      li
        a(href='/account') Account