extends layout

block content
    .row
      .col-xs-12#loginBox
        form(action='/' method='get')
          h1 #{title}
          div
            input(type='text' name='accountName' value='Enter your email')
          div
            input(type='text' name='accountPswd' value='Password')
          div
            input.btn.btn-primary.loginBoxBtn(type='submit' value='Login')
          div.btn.btn-primary.loginBoxBtn Sign in with Google+