extends layout

block content
  h1= title
  p #{subTitle}
  .row
    .col-xs-12.col-sm-2
      p Jam List
      p Jam01
      p Jam02
    .col-xs-12.col-sm-8
      p Map
    .col-xs-12.col-sm-2
      p Picture
      p User
      p Info