doctype html
html
  head
    title= title
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    meta(name='description' content='Jam home page')
    link(rel='stylesheet', type='text/css', href='https://fonts.googleapis.com/css?family=Josefin+Sans')
    link(rel='stylesheet', type='text/css', href='/components/bootstrap/dist/css/bootstrap.css')
    link(rel='stylesheet', type='text/css', href='/stylesheets/hyoshiStyle.css')
  body
    include ./_includes/header.jade
    .container
      block content
      include ./_includes/footer.jade
    script(src='/components/jquery/dist/jquery.js')
    script(src='/components/bootstrap/dist/js/bootstrap.js')
    script(src='/components/bootstrap/js/collapse.js')